/build*/
/.cache/
/.vs/
/.vscode/
/emsdk/
__pycache__/
*.pyc
*.obj
*.o
*.pdb
*.ilk
*.log
*.dmp
*.exe
*.dll
*.lib
*.a
*.user
*.suo
.DS_Store
Thumbs.db
.env
.env.*
*.pem
*.key
/userdata/
/th20-data/
/game-data/
/cloudflare_pages/
/.wrangler/
th20.dat
thbgm.dat
scoreth20.dat
th20.cfg
